MONGODB_URL=
DATABASE_NAME=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# AI Settings
GEMINI_API_KEY=
YOUTUBE_API_KEY=

# Email Settings (Gmail SMTP example)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=
EMAILS_FROM_NAME=

# Razorpay Configuration
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=