MONGODB_URL=
DATABASE_NAME=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# SMTP Email Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
FROM_EMAIL=
FROM_NAME=

# AI & External APIs (PASTE YOUR REAL KEYS BELOW)
GEMINI_API_KEY=
YOUTUBE_API_KEY=
