fastapi
uvicorn
motor
pydantic[email]
pydantic-settings
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
redis
razorpay
openai
websockets
email-validator
aiosmtplib
google-generativeai
google-api-python-client
